.feature-group {
  padding: $spacing-unit-lg 0;

  .flex-row {
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
    }

    &::before,
    &::after {
      content: none;
    }
  }

  .col-md-6 {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-bottom: $spacing-unit-md;
    }
  }
}

.feature-group--alt .flex-row > [class^="col"] {
  display: block;
}


.feature {
  position: relative;
  height: 100%;
  margin-bottom: $spacing-unit-sm;
  padding: 20px;
  background-color: $color-white;

  p {
    color: $color-gray;
  }

  @media (min-width: $screen-md-max) {
    margin-bottom: 30px;
  }

  .feature-group--alt & {
    $lt-shadow-color: rgba(0, 0, 0, .10);
    $lt-border-color: #f0f0f0;
    border-radius: $border-radius-large;
    box-shadow: 0 2px 4px 0 $lt-shadow-color;
  }
}


.feature-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  img {
    border-radius: $border-radius-large;
  }

  .feature-group--alt & {
    width: 281px;
    max-width: 100%;
  }
}

.feature-title {
  $lt-color: #380d75;
  color: $lt-color;
  font-size: 24px;

  .js-hover & {
    text-decoration: $link-hover-decoration;
  }
}

.feature-description {
  margin-bottom: 16px;
}

.feature-more {
  @include position(absolute, null 20px 20px);
  display: flex;
  color: $color-blue-link;

  &:hover,
  .js-hover & {
    text-decoration: none;
  }

  &::after {
    display: inline-block;
    margin-top: 2px;
    margin-left: 4px;
    content: "\2192";
  }
}
