@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  overflow-x: hidden;
}

h1 {
  font-size: 42px;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 0;
  line-height: 1.3;
}

p,
a {
  font-size: 18px;
  line-height: 1.6;
}

ol {

  li {
    font-size: 20px;
    font-weight: 600;
  }

  li:not(:first-child) {
    margin-top: .5em;
  }

}

.milestone {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  text-align: center;
  padding: 80px 0;
  font-size: 2em;
  background-color: $body-bg;
  width: 100vw;
  box-shadow: 0 20px 40px $color-transparent-alt;

  &:not(:last-child) {
    margin-bottom: 200px;
  }

  .milestone-content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-white;
    border-radius: $border-radius-circle;
    box-shadow: 0 20px 40px $color-transparent-alt;
    padding: 40px;

    @media all and (max-width: $screen-md-min) {
      width: 340px;
      height: 340px;
      font-size: .8em;
    }

  }

  &::before {
    background: url("/images/gitlab-icon-pattern-header.svg") center center no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .06;
  }

  h1 {
    font-size: 3em;
  }

  @media all and (max-width: $screen-md-min) {
    margin-bottom: 50px;
    padding: 120px 0;
    transform: translateX(-24px);
  }

}

.content-container {
  padding: 0 200px;
  width: 100%;
  margin: auto;
  max-width: 1440px;
}

.event-tile {
  opacity: 0;
  transform: translateY(40px);
  transition: .4s cubic-bezier(0, 0, 0, 1);
}

.event-tile-show {
  opacity: 1;
  transform: translateY(0);
}

.dot {
  top: 20px;
  height: 20px;
  width: 20px;
  background: $color-primary;
  border-radius: $border-radius-circle;
  transform: scale(0);
  transition: .3s cubic-bezier(0, 0, 0, 2);
}

.dot-active {
  transform: scale(.8);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $color-primary;
    animation: pulseFade 2s cubic-bezier(0, 0, 0, 1) infinite;
    border-radius: $border-radius-circle;
    z-index: -1;
  }

  @keyframes pulseFade {
    50% {
      opacity: 0;
      transform: scale(2);
    }

    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}

.callout {
  position: relative;
  border-radius: $border-radius-large;
  background: $color-transparent-alt-light;
  padding: 40px;
  margin: 0 20px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow: hidden;
}

.callout-open {
  max-height: 100%;
}

.expand-container-closed {
  transform: rotateX(180deg);
}

.expand-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: $color-gray-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    font-size: 28px;
    text-align: center;
  }

}

.timeline-container {
  position: relative;
  width: 50vw;
  margin-left: auto;
  margin-bottom: 100px;
  padding-right: 100px;
  border-left: 4px solid $color-transparent-alt-light;

  .event {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    transition: .4s cubic-bezier(0, 0, 0, 1);

    .event-tile-image {
      position: absolute;
      left: calc(-100% - 50px);
      width: 90%;

      @media all and (max-width: $screen-md-min) {
        margin: auto;
        margin-bottom: 40px;
        max-width: 400px;
      }

    }

    h2 {
      color: $color-primary;
      position: relative;
      z-index: 100;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-yellow;
        width: 100%;
        height: 16px;
        z-index: -1;
      }

    }

    p {
      color: $color-gray;
    }

    .tile {
      margin: 0 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media all and (max-width: $screen-md-min) {
        padding: 30px;
      }

      i {
        margin-bottom: 20px;
        font-size: 16px;
      }

    }

    .year {
      position: sticky;
      display: flex;
      top: 80px;
      transform: translateX(calc(-100% - 24px));
      justify-content: flex-end;
      z-index: 100;

      .dot {
        position: absolute;
        right: -32px;

        @media all and (max-width: $screen-md-min) {
          right: 0;
          left: -12px;
        }

      }

      h1 {
        background: $body-bg;
        border-radius: $border-radius-large;
        padding: 4px;

        @media all and (max-width: $screen-md-min) {
          padding-left: 20px;
        }

      }

      @media all and (max-width: $screen-md-min) {
        transform: translateX(0);
        justify-content: flex-start;
      }

    }

    @media all and (max-width: $screen-md-min) {
      margin-bottom: 50px;
    }

  }

  .event:nth-child(even) {
    transform: translateX(-100%);

    .event-tile-image {
      position: absolute;
      left: calc(100% + 50px);
      width: 90%;

      @media all and (max-width: $screen-md-min) {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
      }

    }

    .year {
      transform: translateX(calc(100% + 24px));
      justify-content: flex-start;

      .dot {
        position: absolute;
        right: calc(100% + 16px);
      }

      @media all and (max-width: $screen-md-min) {
        transform: translateX(0);
        justify-content: flex-start;
      }

    }

    @media all and (max-width: $screen-md-min) {
      transform: translateX(0);
    }

  }

  @media all and (max-width: $screen-lg-min) {
    padding-right: 50px;
  }

  @media all and (max-width: $screen-md-min) {
    width: 100%;
    margin: 0 20px;
    padding-right: 20px;
  }

}

.twenty-years-container {
  padding: 100px 200px;
  margin: auto;
  width: 100%;
  max-width: 1440px;

  @media all and (max-width: $screen-lg-min) {
    padding: 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 50px 20px;
  }

}

.twenty-years-header {
  padding: 180px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://i.giphy.com/media/nQKzxebtx2reg/giphy.webp") center center no-repeat;
  background-size: cover;
  color: $color-white;

  h1 {
    font-size: 56px;
  }

}
